@import '~antd/dist/antd.min.css';

* {
  font-family: Prompt, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 242, 245);
  padding: 16px;
}

.ant-form-item-label > label {
  height: 20px !important;
}
