@import '~antd/dist/antd.min.css';

* {
  font-family: Prompt, sans-serif;
  box-sizing: border-box;
}

.main-content {
  background-color: rgb(240, 242, 245);
  padding: 16px 16px 80px 16px;
  min-height: 100vh;
}

.ant-form-item-label > label {
  height: 28px !important;
}
