$primary-color: #2699FB;
$secondary-color : #F09503;
$info-color: #44a7a5;
$warning-color: #f14816;
$success-color: #63AA1D;
$error-color : #FF5F58;
$dark-grey: #505050;
$grey : #777777;

$dark-blue: #1878AE;
$blue: #489EC5;
$light-blue: #09FFF7;
$sky-blue: #f2f9ff;
$yellow: #f5c43d;
$light-yellow: #e2e638;
$black: #333333;
$light-grey: #AAAAAA;
$light-grey-2 : #C4C4C4;
$brown : #707070;
$orange: #E57C46;
$green: #63AA1D;
$green-light : #60AF92;
$pink: #dc1f77;
$red: #E44141;
$light-blue-2: #e5f3ff;
$blue-2: #c6e3ff;
$border-grey: #a4a4a4;
$facebook: #4867AA;
$google: #545454;
$purple : #2C20D8;
$orange-2 : #FF9100;



.primary-color{
    color: $primary-color;
}
.secondary-color {
    color: $secondary-color ;
}
.info-color{
    color: $info-color;
}
.warning-color{
    color: $warning-color;
}
.success-color{
    color: $success-color;
}
.error-color {
    color: $error-color ;
}
.dark-grey{
    color: $dark-grey;
}
.grey {
    color: $grey ;
}

.dark-blue{
    color: $dark-blue;
}
.blue{
    color: $blue;
}
.light-blue{
    color: $light-blue;
}
.sky-blue{
    color: $sky-blue;
}
.yellow{
    color: $yellow;
}
.light-yellow{
    color: $light-yellow;
}
.black{
    color: $black;
}
.light-grey{
    color: $light-grey;
}
.light-grey-2 {
    color: $light-grey-2 ;
}
.brown {
    color: $brown ;
}
.orange{
    color: $orange;
}
.green{
    color: $green;
}
.green-light {
    color: $green-light ;
}
.pink{
    color: $pink;
}
.red{
    color: $red;
}
.light-blue-2{
    color: $light-blue-2;
}
.blue-2{
    color: $blue-2;
}
.border-grey{
    color: $border-grey;
}
.facebook{
    color: $facebook;
}
.google{
    color: $google;
}
.purple {
    color: $purple ;
}
.orange-2 {
    color: $orange-2 ;
}